# Don’t commit the following directories created by pub.
.buildlog
.pub/
build/
packages

# Or the files created by dart2js.
*.js_
*.js.deps
*.js
*.js.map

# Include when developing application packages.
pubspec.lock
.packages

# IDEA
.idea
