/* Thanks to Fr?nz Friederes for css design */

/* --- FONTS --- */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Source+Code+Pro:300,400,700);

/* --- GENERAL --- */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background: #f7f7f7;
    color: #1f1f1f;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

#frame {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#wrapper {
    display: block;
    width: 1000px;
    margin: 0 auto 0;
    padding: 20px 20px 0 20px;
}

h1 {
    display: block;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

h1 .format {
    display: none;
}

h1 .local {
    font-size: 20px;
    font-weight: normal;
    color: #525252;
}

p {
    display: block;
    font-size: 18px;
    font-weight: normal;
    padding: 20px 0 0 0;
    line-height: 25px;
    color: #525252;
}

p.intro {
    width: 700px;
    text-align: justify;
}


#about {
    display: block;
    margin: 21px 0 0 0;
    width: 200px;
    height: 125px;
    float: right;
    text-align: right;
}

#about p {
    padding: 0;
}

#social a {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 7px;
    margin: 15px 0 0 6px;
    border-radius: 60px;
    border: 1px solid #e0e0e0;
    background: url(img.jpg);
    text-indent: 100%;
    opacity: 0.75;
    overflow: hidden;
    white-space: nowrap;
}

#social a:hover {
    opacity: 1;
}

a {
    color: #525252;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1 a {
    text-decoration: none !important;
    color: #1f1f1f;
}

button {
    font-family: "Source Sans Pro", sans-serif;
}

/* --- OUTPUT & INPUT --- */

#output,
#input,
#key {
    display: block;
    width: 300px;
    margin: 20px 0 0 0;
}

#key {
    margin: 20px 50px 0 0;
}

#output,
#key {
    float: right;
}

#inputField,
#outputField,
#keyField {
    background: #e0e0e0;
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 5px 0;
    padding: 8px 20px 8px 20px;
    text-align: center;
}

#inputFieldContainer,
#outputFieldContainer,
#keyFieldContainer {
    background: #e0e0e0;
    position: relative;
}

#input textarea,
#output textarea,
#key textarea {
    border: none;
    background: #e0e0e0;
    outline: none;
    resize: none;
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
    line-height: 22px;
    width: 260px;
    height: 200px;
    color: #1f1f1f;
    padding: 5px 20px 5px 20px;
}

/* --- BUTTONS --- */

section {
    text-align: center;
}

section > * {
    margin: 10px
}

.button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
}

.button > paper-ripple {
    border-radius: 2px;
    overflow: hidden;
}

.button.blue {
    background-color: #009688;
    color: #fff;
}

.button.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}

/* --- SELECT --- */

select {
    font-family: "Source Sans Pro", sans-serif;
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    color: #009688;
    border: none;
    border-bottom: 1px solid #009688;
}

select:focus {
    outline: none
}
